<button id="new-post-btn" class="btn new-post-btn">+ New Post</button>

{{#each posts as |post|}}          
<div class="card blog-post">
    <div class="card-header blog-post-header">
        <a href="/dashboard/editpost/{{id}}">{{title}}</a>
        <span class="blog-post-byline">Posted by {{user.username}} on {{format_date created_at}}</span>
    </div>
    <div class="card-body blog-post-text">
        <p class="card-text">{{content}}</p>
    </div>
</div>
{{/each}}

<script src="/javascript/dashboard.js"></script>